SubmissionMetadata/flows.json
[{"id":"a8443d1a.19786","type":"tab","label":"Door Sensor","disabled":false,"info":""},{"id":"68873712.62f898","type":"rpi-srf","z":"a8443d1a.19786","name":"","topic":"SRF","pulse":"1","pins":"16,18","x":490,"y":600,"wires":[["d11ada1c.681498"]]},{"id":"6459e1d4.c4349","type":"http in","z":"a8443d1a.19786","name":"FrontDoor","url":"/front","method":"get","upload":false,"swaggerDoc":"","x":500,"y":480,"wires":[["4ece0296.78976c"]]},{"id":"8e3cc6ed.8de1a8","type":"http response","z":"a8443d1a.19786","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":900,"y":460,"wires":[]},{"id":"f4bcc2b9.8a4ca","type":"debug","z":"a8443d1a.19786","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":580,"wires":[]},{"id":"d11ada1c.681498","type":"function","z":"a8443d1a.19786","name":"Update Distance","func":"global.set('distance', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":580,"wires":[["f4bcc2b9.8a4ca"]]},{"id":"4ece0296.78976c","type":"function","z":"a8443d1a.19786","name":"Get distance","func":"var dist = global.get('distance');\nmsg.payload = dist;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":480,"wires":[["8e3cc6ed.8de1a8"]]}]